/* 
    Document    : miscellaneous
    Created on  : Apr 10, 2010, 1:32:19 PM
    Description : Contains miscellaneous CSS
*/

.dottedTableBorder{
border:1px dotted;
}

.tableHeader{
  text-align: left;
  font-size:  1em;
  color:      #FFFFFF;
  background: #808080;
}
a.button.green {
    width:220px;
    -moz-user-select:none;
    border:0 none;
    color:white;
    cursor:pointer;
    display:block;
    font-weight:bold;
    padding:0 8px 0 0;
    text-align:center;
    text-decoration:none;
    background:#008000 none repeat scroll 0 0;
    font-size:1.4em;
    height:50px;
    line-height:50px;
    min-width:48px;
    margin-top:10px
  }
.title {
font-weight:bold;
}
#personalinfo{
font-size:1em;
float:left;
border: 1px solid #eee;
position: fixed;
width: 275px;
height:235px;
overflow: auto;
}
#ealth-facility-info{
font-size:1em;
border: 1px solid #eee;
width: 720px;
display: table;
height: 100px;
padding: 20px;
overflow: auto;
}
.gadget{
font-size:1em;
float:left;
display: table;
border: 1px solid #eee;
bottom: 200px;
width: 720px;
max-height: 175px;
min-height: 50px;
margin: 5px;
overflow: auto;
background: none repeat scroll 0 0 white;
}
.gadget-row{
  display: table-row;
}
.gadget-cell{
  display: table-cell;
  margin-right: 5px;
  margin: 5px;
}

#menu {
  float:right;
  background: none repeat scroll 0 0 white;
  border: 1px solid #eee;
  overflow:auto;
  position:relative;
  height:640px;
  margin-left: 10px;
  margin-top: 5px;
  width:245px;;
}

#details {
  width:720px;
  height:510px;
}
.tablet{
  border-top:1px solid DarkGray;
  border-right:1px solid DarkGray;
  border-bottom:1px solid DarkGray;
}
.tablet td{
  border-left:1px solid DarkGray;
  border-top:1px solid DarkGray;
}

