<div id="table-header">  </div>
<!-- text area -->
<table class="graph-area">
  <tr>
    <td class="grid-section"> 
      <div id="patients-table"></div>
    </td>
    <td class="graph-menu">
      <button id="done-button"  class="button" onmousedown="parent_div = 'visits-graph-tab'; menu(visits.ShowGraph);">
        Back to Graph
      </button>
    </td>
  </tr>
</table>
