<html>
  <head>
    <%= javascript_include_tag "jquery-1.3.2.min" %>
    <%= stylesheet_link_tag "dashboard" %>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
      })
    </script>
    <style type="text/css">
      #stats {
        width:98%;
        border:1px solid black;
        margin:10px;
        background:white;
      }
      #stats td, #stats th {
        text-align:center;
      }
    </style>
  </head>
<!--<div id="tab" style="height: 461px;">-->
<body style="background-color: #ffffff">
      <!--div style=""-->
      <div id="buttons" style="height: 304px;margin-top: 200px;margin-left: 20px;">
        <h2>Select administrative task</h2>
        <base target="_parent">
            <button style="margin: 5px 0px 0px; min-width: 230px;" onMouseDown="window.parent.location= '/clinic/new?act=create&dashboard=clinic_administration'" target="_parent" class="blue"><span>Add Clinic</span></button><br/>
            <button style="margin: 5px 0px 0px; min-width: 230px;" onMouseDown="window.parent.location = '/clinic/new?act=delete&dashboard=clinic_administration&source_url=clinic_dashboard'" target="_parent" class="blue"><span>Delete Clinic</span></button><br/>
            <button style="margin: 5px 0px 0px; min-width: 230px;" onMouseDown="window.parent.location = '/clinic/schedules?dashboard=clinic_administration&source_url=clinic_dashboard'" target="_parent" class="blue"><span>Schedules</span></button><br/>
        <!--
            <button style="margin: 5px 0px 0px; min-width: 190px;" onMouseDown="window.parent.location= '/clinic/users?dashboard=clinic_administration'" target="_parent "class="blue"><span>User Management</span></button><br/>
            <button style="margin: 5px 0px 0px; min-width: 190px;" onMouseDown="window.parent.location = '/clinic/schedules?dashboard=clinic_administration'" target="_parent" class="blue"><span>Clinic Schedules</span></button><br/>
        -->

        </base>
      </div>
      <!--/div-->

  </body>
</html>

