<script type="text/javascript">
  tt_cancel_destination = "/clinic/call";
  tt_cancel_show = "/clinic";
</script>

<form id='confirm' action="/clinic/emergency_call_action" method='post'>

  <%@confirmation_options = ["","YES", "NO"]%>
  <%= select_tag "confirmation", options_for_select(@confirmation_options), {:helpText => 'Is this really an emergency call?', :id => "confirmation"}%>
  <%= submit_tag "Finish" %>

</form>
