<script language="javascript">
  tt_cancel_destination = "/clinic/irrelevantcall";
  tt_cancel_show = "/people/search";
</script>

<div id="home">
  <div id="project_name"><span style="font-size: 0.4em;">Hotline</span></div>
  <div id="facility"><%= Location.current_location.name %></div>
  <div id="location"><%= version_without_date %></div>
  <div id="date"><%=system_date%></div>

  <div id="user"><%= User.current_user.username %></div>
  <select id="tabs">
    <option value='/clinic/overview' target="_parent">Overview</option>
  </select>

  <select id="links">
    <option value="" ttSize="190px">Irrelevant Call</option>
    <option value="" ttSize="190px">Find by Name</option>
    <option value="/people/find_by_national_id" ttSize="190px">Find by ID</option>
    <option value="/clinic/emergencycall" ttSize="190px">Emergency Call</option>
  </select>
</div>

