<style>
	#tabPageContainer {
		height: 71%;
	}
	
	#footer {
		height: 134px;
	}
	
	#bplan {
		float:right;
	}
	
	#bdel {
		margin-left:100px;
	}
</style>

<script language="javascript">
  tt_cancel_destination = "/clinic/irrelevantcall";
  tt_cancel_show = "/people/search";
  tstSuppressBarcode = true;
</script>

<div id="home">
  <div id="project_name"><span style="font-size: 0.4em;">Hotline</span></div>
  <div id="facility"><%= Location.current_health_center.name %></div>
  <div id="location"><%= Location.current_location.name %></div>
  <div id="date"><%=system_date%></div>

  <div id="user"><%= User.current_user.username %></div>
  <select id="tabs">
    <option value='/clinic/overview' target="_parent">Overview</option>
  </select>

  <select id="links">
    <% if session[:house_keeping_mode] == false  %>
      <option value="" ttSize="140px">Cancel Call</option>
    <%else%>
      <option value="/clinic/end_housekeeping_mode" ttSize="190px">Cancel</option>
    <%end%>
    <option value="" ttSize="150px">Find by Name</option>
    <option value="/people/find_by_national_id" ttSize="120px">Find by ID</option>
    <% if session[:task] == false %>
      <option value="/clinic/emergencycall" ttSize="170px">Emergency Call</option>
    <%end%>
    <option value="/people/find_by_phone" ttSize="170px">Find by phone</option>
    <!--<option value="/people/find_by_anc_number" ttSize="170px">Find by ANC ID</option>-->
    
    <% if ! session[:house_keeping_mode] == false  %>
        <option value="/clinic/new_call?task=followup" ttSize="130px">Follow up</option>
    <%end%>
    <option value="/clinic/new_call?task=anc"  ttID="anc_follow" ttSize="170px">ANC Follow up</option>
    <option ttID="bplan" value="/clinic/new_call?task=birth_plan" ttMleft="211px" ttFloat="left" ttSize="170px">Birth Plan</option>
    <option ttID="bdel" value="/clinic/new_call?task=delivery" ttFloat="left" ttSize="130px">Delivery</option>
  </select>
</div>
