<%= render :partial => 'clinic/nav', :locals => {:active => 'printing'} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>
<div id="tab">
  <div class="panel">
  </div>        
</div>