<%= render :partial => 'clinic/nav', :locals => {:active => 'properties'} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>
<div id="tab" style="height: 461px;">
  <div class="panel">
  </div>        
</div>