<form id='health_facilities' action="schedules" method='post'>
  <%= select_tag :health_facility, options_for_select(@health_facilities), {:helpText => "Select a Health Facility", :tt_requireNextClick => false} %>
  <%= hidden_field_tag("source_url", @source_url) %>
  <%= hidden_field_tag("patient_id", @patient_id) %>
</form>

