<html>
  <head>
    <title><%=@report_name%></title>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery.table2CSV.min") %>
    <script>
      function eportToCSV(){
         $('#anc_connect_clients').table2CSV()
      }
    </script>
  </head>
  <body>
    <div class="btn-menu">
      <%params[:format] = 'pdf'%>
      <%select_report_criteria = '/report/select?report_type=' +@report_type +'&query=' + @query%>

      <button id="finish_button" class="button green" onclick="window.location = '/clinic'"><span>Finish</span></button>
      <button id="export_button" class="button green" onclick="eportToCSV();"><span>Export to CSV</span></button>
      <button id="back_button" class="button red" onclick="window.location = '<%=select_report_criteria%>'"><span>Back</span></button>
    </div>

    <form id="frmMain" action="/report/patient_analysis_report" method="post">
      <input type="hidden" id="start_date" name="start_date" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>" />
      <input type="hidden" id="end_date" name="end_date" value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>" />
    </form>

    <div>
    <fieldset class="main_fieldset">
      <legend class="main_legend" style="color:white; background-color:green;">
        ANC connect clients
      </legend>
      <table cellspacing="0" width="100%" id="anc_connect_clients">
        <tr>
          <td colspan = 5><%= "Filter Info: Grouping - #{@grouping.capitalize} "%></td>
        </tr>
        <tr>
          <td><b>First Name</b></td>
          <td><b>Last Name</b></td>
          <td><b>Date of Birth</b></td>
          <td><b>Cell phone number</b></td>
          <td><b>Home Village</b></td>
        </tr>
        <%@report.reverse.map do |dates, values|%>
          <tr>
            <td width="25%" colspan = 5 class="cellleft cellbottom main-table-cell" style="background-color:ddd; text-align:center;font-weight: bold; font-size: large; font-style: italic;"><%= @grouping.humanize + " beginning "+ dates[:start_date].to_date.strftime("%d-%b-%Y") + " ending " + dates[:end_date].to_date.strftime("%d-%b-%Y")%></td>
          </tr>
          <% values.each do |v| %>
          <tr>
            <td><%= v["given_name"] %></td>
            <td><%= v["family_name"] %></td>
            <td><%= v["birthdate"] %></td>
            <td><%= v["cell_phone_number"] %></td>
            <td><%= v["home_village"] %></td>
          </tr>
          <% end %>
        <% end %>
      </table>

    </fieldset>

    </div>

  </body>
</html>
