<%= render :partial => 'clinic/nav', :locals => {:active => 'reports', :label => "Reports"} %>
<script type="text/javascript">
  jQuery(document).ready(function($) {
  }) 
</script>
<style type="text/css">
  #stats {
    width:98%;
    border:1px solid black;
    margin:10px;    
    background:white;
  } 
  #stats td{
    text-align:right;
  }

  #stats a { 
    width:175px; 
    float:right;
  }
</style>
<%= stylesheet_link_tag 'extra_buttons' %>

<div id="tab" style="height: 461px;">
  <div class="panel" style="width:980px">
    <h2>Data Cleaning Tools</h2>
    <div style="height:970px;overflow:auto;">
      <table id="stats" style="height: 400px;" cellpadding="10">
        <% @reports.each do |helptext,report_type| %>
        <tr>
          <td>  
            <%= link_to_onmousedown "#{helptext}",
                {
                  :controller =>"cohort_tool", :action => 'select',
                  :report_type => "#{report_type}", :dashboard => "#{@landing_dashboard}"
                },:class => 'report_button' %> 
          </td>
        </tr>
        <%end rescue nil%>
      </table>
    </div>
  </div>        
</div>
