<html>
  <head>
    <title><%=@report_name%></title>
    <%= stylesheet_link_tag fancy_or_high_contrast_touch %>
    <link href="/stylesheets/report.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/report_print.css" media="print" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag("jquery") %>
    <%= javascript_include_tag("jquery.table2CSV.min") %>
    <script>
      function eportToCSV(){
         $('#hsa_performance_report').table2CSV({header:['District','Health Center','HSA Name','Clients Enrolled(Total)','New Enrollments', 'On-Time ANC Rate', 'Facility Delivery Rate']})
      }
    </script>
  </head>
  <body>
    <div class="btn-menu">
      <%params[:format] = 'pdf'%>
      <%select_report_criteria = '/report/select?report_type=' +@report_type +'&query=' + @query%>

      <button id="finish_button" class="button green" onclick="window.location = '/clinic'"><span>Finish</span></button>
      <button id="export_button" class="button green" onclick="eportToCSV();"><span>Export to CSV</span></button>
      <button id="back_button" class="button red" onclick="window.location = '<%=select_report_criteria%>'"><span>Back</span></button>
    </div>

    <form id="frmMain" action="/report/patient_analysis_report" method="post">
      <input type="hidden" id="start_date" name="start_date" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>" />
      <input type="hidden" id="end_date" name="end_date" value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>" />
    </form>

    <div>
    <fieldset class="main_fieldset">
      <legend class="main_legend" style="color:white; background-color:green;">
        HSA Performance Report
      </legend>
      <table cellspacing="0" width="100%" id="hsa_performance_report">
        <thead>
          <tr>
            <td colspan ="6"><%= "Filter Info: Grouping - #{@grouping.capitalize} "%></td>
          </tr>
          <tr>
            <td colspan="6">&nbsp;</td>
          </tr>
          <tr>
            <th>District</th>
            <th>Health Center</th>
            <th>HSA Name</th>
            <th>Clients Enrolled(Total)</th>
            <th>New Enrollments</th>
            <th>On-Time ANC Rate(%)</th>
            <th>Facility Delivery Rate(%)</th>
          </tr>
        </thead>
        <%raise @report.to_yaml%>
        <%  (@report || []).each do |district, values|%>
        <tr>
          <% values.each do |health_center, data| %>
              <%
                hsa_name = data["hsa_name"]
                total_clients_enrolled = data["total_clients_enrolled"]
                new_enrollments = data["new_enrollments"]
                on_time_anc_rate = data["on_time_anc_rate"]
                facility_delivery_rate = data["facility_delivery_rate"]
              %>
              <td><%= district %></td>
              <td><%= health_center %></td>
              <td><%= hsa_name %></td>
              <td><%= total_clients_enrolled %></td>
              <td><%= new_enrollments %></td>
              <td><%= on_time_anc_rate %></td>
              <td><%= facility_delivery_rate %></td>
          <% end %>
        </tr>
        <% end %>
      </table>

    </fieldset>

    </div>

  </body>
</html>
