<script>
  var tt_cancel_destination = "/clinic?active_tab=tab3"
  
  function set_ajaxURL_for_suggestions(url, filter_value) {
    $('touchscreenInput'+tstCurrentPage).setAttribute('ajaxURL', url + filter_value + "&search_string=");
    listSuggestions(tstCurrentPage);
  }
</script>
<% form_tag :action => 'create' do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end -%>

<%= link_to 'Back',:controller=>'patient', :action => 'menu' %>
